    
.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

ol,li { list-style: none;}
* { margin: 0; padding: 0; }
body { overflow: hidden; position: fixed; top: 0; left: 0;}
#canvas { background:rgb(255, 255, 255); display:block; }
.icon.activesvg { fill:green;  transform: scale(1.4);}

.actions { position: fixed; top:0; left:0; padding:20px; }
.actions svg { width: 1.5em ; height: 1.5em ; transition: all 0.3s ; margin: 4px; }

.colors { position: fixed; top: 70px; left: 10px;}
.colors ol li { width: 20px; height: 20px; margin: 12px 6px; border-radius: 50%; }
.colors ol li#red { background: red; }
.colors ol li#yellow { background: yellow; }
.colors ol li#green { background: green; }
.colors ol li#blue {  background: blue; }
.colors .activecol { border: 1px solid rgb(199, 197, 197); transform: scale(1.3);}
.colors input#change { width: 20px; height: 20px; margin: 0 6px; border-radius: 50%; }

.sizes { position: fixed; top: 70px; right: 10px; }
.sizes ol li {  margin: 20px 6px; }
.sizes ol li#thin { border-top: 2px solid black; width: 16px; height: 0; }
.sizes ol li#thin2 { border-top: 4px solid black; width: 16px; height: 0; }
.sizes ol li#thick { border-top: 6px solid black; width: 16px; height: 0; }
.sizes ol li#thick2 { border-top: 8px solid black; width: 16px; height: 0; }
.sizes ol li.activesize { transform: scale(1.3); }